body {background-color: #272727}

#mid{background-image: url(test.png);
    height: 1500px;
    width: 300px;
    background-size:contain;
	background-repeat: no-repeat;
    }

ul {position: absolute;
    left: -15px;
    top: 10px;
    text-shadow: none;}

ol {border-radius: 20px;
	width: 225px;
	height: 30px;
    background-color: rgba(0, 255, 255, 0.3);
    }


a {color: blueviolet;
    text-decoration: none;
    }

ol:hover {
    background-color: blueviolet;
}

ol:hover a {
    color: rgba(0, 255, 255, 0.3);
}
